* {
    box-sizing: border-box;
    margin: 0;
}

html {
    color: white;
    box-sizing: border-box;
    margin: 0;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(img/WhiteHair.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100;
    display: flex;
    flex-direction: column;
    background-color: #E9DEEE;
    margin-left: 1em;
    margin-right: 1em

}

.main-text {
    padding: 3em;
    display: flex;
    flex-direction: column;
    flex: 5;
}

/*
.andy-quote {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex: 2;
}
*/


p {
    font-family: sans-serif;

}

h2 {
    font-family: monospace;
    color: #E9DEEE;
    font-size: 35px;
}

h3 {
    font-family: monospace;
    color: #E9DEEE;
    font-size: 25px;
}

h1 {
    font-family: sans-serif;
    color: #EF423E;
    border: 5px solid #7d9bb6;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    width: 80%;
    text-align: center;
    font-size: 70px;
    background-color: #E9DEEE
}

#content {
    color: #EF423E;


}


footer {
    font-family: monospace;
    color: #E9DEEE
}

a {
    font-family: monospace;
    color: #E9DEEE
}

ul {
    font-family: sans-serif;
    color: #EF423E
}

header {
    display: flex;
    align-items: center;
/*    background-color: #7488A0;*/
    flex-direction: row;
}

header nav {
    flex: 1
}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer,
    form div,
        {
        flex-direction: column;
align-content: center;
    }
}

form {

    margin-bottom: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.checkboxes {
    display: flex;
/*    flex-direction: column;*/
/*    margin-top: 1em*/
    
}

.checkboxes input {
    flex: 1;
    
}

form div {
    display: flex;
    flex: 1;
    margin-top: 1em;
        
    
}
form div input {
    color: #EF423E;
}

form div textarea {
    color: #EF423E
}


div .checkboxes {
    flex-direction: column;
}

.checkboxes p {
    
    font-family: monospace;
}

form label {
    flex-basis: 33%;
    text-align: right; 
}

form input,
textarea,
select {
    flex: 1;
    margin: 0 1em 1em;
    border-radius: 10px;
}

form select {
    text-align: center;
}

form input[type=submit] {
    color: #EF423E;
    font-family: monospace;
}

.radio-buttons {
    margin-right: 7px;
}

.center {

    text-align: center;
}

.space {
    justify-content: space-around;
}

.banana {
    height: 50vh;
    margin-left: auto;
        margin-right:auto;
}

a:hover {
    color: #EF423E
}

a { 
transition: background-color .3s, color .3s;
text-decoration: none;
}

